extends layout

block content
  .color-white
    script.
      const page = 'edit_article';
    script(src='/js/add_class.js')
    h1 #{curr_article.title}
    form(method='POST' action='/articles/edit-article/'+curr_article._id enctype='multipart/form-data')
      #form-group
        label(for='title') Title:
        input.form-control(name='title' type='text' value=curr_article.title)
      #form-group
        label(for='body') Body:
        textarea.form-control(name='body')= curr_article.body
      #form-group
        label(for='images') Images:
          .custom-file(style='margin-top:7px')
            input#images.custom-file-input(type='file' name='images' multiple)
            label.custom-file-label(for='images') Choose file
      br
      ul.tilesWrap
        each image, index in curr_article.images
          a.form-col(href=`/images/${image}` target='_blank')
            img.fixed-size-edit(src=`/images/${image}`)
            a.edit-image-a(href=`/articles/delete-image/${curr_article._id}/${index}`) Delete
      br
      button.hbtn.hb-fill-middle2-rev-bg-br.hpad2.hbor2(type="submit" style="margin-bottom:50px") 
        i.fa.fa-save(aria-hidden='true')
        | Save
      br
      hr
      footer
        p Copyright &copy; 2017 - 2020